<!DOCTYPE html>
<html>
    <head>
        <title>Proof of Concept</title>
    </head>
</html>
<body>
    <a href="/register">Register</a><br>
    <a href="/login">Log-In</a><br>
    <a href="/logout">Log-Out</a><br>
    <a href="/projects">View Projects</a>
</body>