<!DOCTYPE html>
<html>
    <head>
        <title>Honours Project</title>
        <link href="css/style.css" rel="stylesheet" type="text/css" />
    </head>
</html>
<body>
    <div class="navigation">
        <ul id="nav">
            <li><a href="/">Home</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Log-In</a></li>
            <li><a href="/logout">Log-Out</a></li>
            <li><a href="/projects">View Projects</a></li>
        </ul>    
    </div>
    <div class="projectcreation">
        <form action="/createproject" method="POST">
            <label for="projectname">Project name:</label><br>
            <input type="text" id="projectname" name="projectname"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <h1>New project</h1>
    
</body>